/*ACCORDION*/
.accordion{
  width: 70vw;
  margin: 40px auto;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #db007da1; /*sacado del Devtool*/
}

.accordion-button, .accordion-button:not(.collapsed){
  background-color:#DB007D;
  color: white;
  border-radius: 5px;
}

.accordion-item{
  background-color: #fff7e3c4;
  border: none;
}

h2.accordion-header{
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: larger !important;
  font-weight: 400;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 5px; /*sacado del Devtool*/
  font-size: large;
}

.accordion-button:hover{
  background-color: #f8d030;
  color: #DB007D;
}