h1{
    margin-top: 30px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff7e3c4;
    width: 40vw;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 22px gray;
    padding: 10px;
    margin: 40px auto;
}

button{
    border-radius: 5px;
    border: none;
    background-color: #DB007D;
    color: white;
    width: 100px;
    height: 40px;
    margin: 5px;
    font-size: larger !important;
}