/*FOOTER*/
footer{
  background-color: #fff7e3c4;
  box-shadow: 0px 0px 10px grey;
  border-radius: 20px; 
  width: 100%;
  padding: 10px 0;
  position:static;  
  margin-bottom: 0;
  left: 0;
  margin-top: 15px;
}

.footer{
  text-align: center;
}


.footer ul{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 30px;
  justify-content: center;
}

.footer ul li{
  font-size: large;
}

.footer ul li :hover{
  color: #1b158f;
}
footer h6{
  margin-top: 10px;  
  font-size: 14px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

/*RESPONSIVE HASTA 680PX*/
@media screen and (max-width: 1246px) and (min-width: 1000px) {
  footer{
    width: 105%;
  }

}

@media screen and (max-width: 1000px) and (min-width: 900px) {
  footer{
    width: 106%;
  }
}

@media screen and (max-width:900px) and (min-width:600px){
  footer{
    width: 118%;
  }
}
