/*GENERAL*/
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff7e3c4;
    margin-bottom: 10px;
}

a{
    text-decoration: none; /*eliminamos los subrayados de los enlaces*/
    color: black;
}

li{
    list-style: none;
}

main{
    min-height: 80vh;
}

/*GOOGLE FONTS*/
/*1*/
.gluten-uniquifier {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 1;
}

/*2*/
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

/* @media screen and (max-width:890px) and (min-width:600px){
    main{
        margin-left: 30px;
    }
} */