.button-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    margin: 40px auto;
    /* width: 100%; */
    width: 350px;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 200px;
}

.btn-new, .btn-editar{
    height: 230px;
    width: 230px;
    text-align: center;
    box-shadow: 3px 5px 5px #db007c84;
    border: solid #DB007D;
    background-color: #fff7e3c4;
    color: black;
    border-radius: 20px;
}

.btn-new:hover{
    background-color: #fff7e3c4;
    border: solid #DB007D;
    color: black;
    transform: scale(1.02);
}

.btn-editar:hover{
    background-color: #fff7e3c4;
    border: solid #DB007D;
    color: black;
    transform: scale(1.02);
}