/*CARDS*/
.card-container{
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    margin: 40px auto;
    /* max-width: 900px;  */
    width: 100%;
    flex-wrap: wrap;
}

.card{
    display: flex;
    background-color: #DB007D;
    align-content: space-between;
    justify-content: center;
    grid-template-rows: auto 1fr;
    border-radius: 10px ;
    width: 23rem;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(127, 127, 127, 0.796);
}

.card:hover{
    transform: scale(1.02);
}

.card-body{
    display: grid;
    gap: 10px;
    padding: 15px;
}

.card-title{
    text-align: center;
    font-size: x-large;
    margin: 0;
    color:#FFF7E3 ;
}

.card-text{
    color:#FFF7E3 ;
    font-size: large;
    margin: 10px;
}
.card-img{
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

/*BOTONES*/
.btn{
    border-radius: 5px;
    background-color: #DB007D;
    color: #FFF7E3 ;
    text-align: center;
    padding: 6px 22px;
    margin-right: 160px;
    text-decoration: none;
    font-family: monospace;
    border: solid 3px #f8d030;
}

.btn:hover{
    box-shadow: 4px 3px 5px #f8d030;
    color: #FFF7E3 ;
    border: solid 3px #f8d030;
}

.btn-catalogo{
    background-color: #DB007D;
    border: none;
    border-radius: 15px;
    color: #FFF7E3;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 40px;
    width: auto;
}

.btn-catalogo:hover{
    transform: scale(1.1);
}

.btn-edit{
    background-color: #FFF7E3;
    color: #DB007D;
}


/*TEXTOS GENERALES*/
h1{
    color: #DB007D;
}

p{
    font-size: larger;
    margin: 40px;
}

h4{
    color: white !important;
}
h2{
    font-size: larger;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}


/* 3 columnas desde 1260px en adelante */
@media screen and (min-width: 1260px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 0;
        gap: 0;
    }
}

/* 2 columnas entre 850px y 1260px */
@media screen and (max-width: 1259px) and (min-width: 850px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
    }

    p{
        margin: 40px;
    }
}

/* 1 columna a partir de 849px */
@media screen and (max-width: 849px) {
    .card-container {
        grid-template-columns: 1fr;
        margin-left: 30px;
    }
}